*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --primary-color: #121212;
    --accent-color: #f95e0b;
    --text-color: #fff;
    --button-color: #f1d063;
    --background-color: #f3f4f6;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 7px;
    background: var(--text-color);
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background: var(--accent-color);
}

body{
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    font-family: sans-serif;
    background: var(--background-color);
}
header{
    height: 70px;
    min-height: fit-content;
    width: 100%;
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    border: 1px solid var(--primary-color);
    background: var(--button-color);
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s;
}

.button:hover{
    box-shadow: 2px 2px 1px var(--primary-color);
}

.button:active{
    transform: scale(0.95);
}


main{
    height: 100%;
    min-height: fit-content;
    width: 100%;
}
.welcome{
    width: 100%;
    height: 500px;
    min-height: fit-content;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.wlc-1{
    max-width: 470px;
    width: 100%;
    min-width: 300px;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.wlc-1 span{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}
.wlc-1 h2{
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 1px 1px 1px black;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.wlc-1 p{
    font-style: oblique;
}
.wlc-1-btn{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}
.wlc-2{
    width: fit-content;
    height: 300px;
}
.wlc-2 img{
    height: 300px;
    width: fit-content;
}

/*  */
/* Main Hero section here */
/*  */

.heroMain{
    /* background: pink; */
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.heroMain h2{
    font-size: 2rem;
    text-align: center;
    color: var(--accent-color);
    text-shadow: 1px 1px 1px black;
}

.heroFormContainer{
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    height: fit-content;
    padding: 20px;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 6px;
    box-shadow: 2px 2px 20px rgba(119, 119, 119, 0.5);
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
form h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
form p{
    text-align: center;
    padding: 10px;
    width: fit-content;
}

form input{
    height: 50px;
    font-size: 22px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.insideSelect{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    gap: 30px;
}
.insideSelect i{
    font-size: 2rem;
    color: var(--primary-color);
}
.selectBox{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.selectBox h4{
    font-size: 20px;
}
.selectInsideBox{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0px 10px;
}
.selectInsideBox img{
    aspect-ratio: 1/1;
    width: 50px;
}
.selectInsideBox select{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 5px;
}

@media (max-width:583px) {
    .insideSelect{
        flex-direction: column;
        align-items: normal;
    }
}

.documentation{
    padding: 50px 0px;
}


footer{
    height: 70px;
    min-height: fit-content;
    padding: 20px;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.QuickCSS-blog button{
    background: var(--button-color);
}
.QuickCSS-blog{
    padding: 0px 10px;
}